.scoreBoard {
    display: flex;
    background-color: whitesmoke;
    width: auto;
    justify-content: center;
    border-bottom: .25rem groove #fec24d;
    padding-bottom: .05rem;

}

.scoreBoardItem {
    flex: 1;
    padding: .05rem;
    text-align: center;
    font-size: .75rem;
}