body {
  align-self: center;
  width: auto;
  background-color: darkslategrey;
  margin: 0;
  justify-content: center;
  max-width: 1200px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gamewindow {
  text-align: center;
  background-color: darkgreen;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.currentBid{
  color: red;
  text-transform: capitalize;
}

.handwindow {
  display: flex;
  flex-direction: column;
  margin: .5rem .5rem;
  align-items: center;
  justify-content: center;
}


.hand {
  margin: 0px;
  flex: 1;
  display: flex;
  justify-content: center;
  max-width: 800px;
  width: 80%;
}



.biddingwindow {
  background-color: white;
  border: 2px solid #003764;
  /* padding: 5%; */
  margin: 5% 30%; 
  border-radius: 5%;
  text-align: left;
  
}

.windowheader {
  background-color: #003764;
  color: #fec24d;
  text-align: center;
  font-weight: bolder;
  font-size: 20;
}

.bid {
  border-bottom: 1px solid #003764;
  padding: 2% 5%;
}

.makebid {
  margin: 5%;
  text-align: center;
}

.playerwindow{
  background-color: #003764 ;
  margin-top: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-top: 5px groove #fec24d;
  text-align: center;
}

.playeraction {
  padding: 2%;
}

.playboard {
  margin: 10px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
}

.playboardrow{
  flex: 1;
  display: flex;
  height: 150px;
}

.playboardbox {
  flex: 1;
  width: 33%;
}

.player2 {
  background-color: transparent;
  text-align: right;
}

.player3 {
  background-color: transparent;
}

.player4 {
  background-color: transparent;
  text-align: left;
}

.player1 {
  background-color: transparent;
}

.playboardbooknum {
  background-color: whitesmoke;
  border: 2px solid #003764;
}

.playboardlog {
    background-color: transparent;
    border: 1px solid #003764;
}

.playboardheader {
  background-color: #003764;
  text-align: center;
  font-weight: bolder;
  font-size: 1.25rem;
  color: #fec24d;
  padding: .25rem;
  border-radius: .5rem .5rem 0rem 0rem;

}

.playboardlogentry {
  background-color: whitesmoke;
  border-bottom: 1px solid #003764;
  padding: 1% 5%;
  font-weight: small;
  font-size: .75rem;
  text-align: left;
}

.playermessagebox {
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}

.playermessageboxheader {
  flex: 1;
  background-color: #003764;
  color: #fec24d;
  font-size: .8rem;
  font-weight: bold;
  }

.playermessageboxtext {
  flex:1;
  background-color: whitesmoke;
  font-size: .8rem;

}